<odoo>
  <data>
    <menuitem id="root_menu_examen" name="Examens et notes"
      web_icon="siantou_ems_examen/static/description/icon.svg"
      groups="siantou_ems_examen.group_examen_base"
      sequence="8" />
    <!-- Examen -->


    <menuitem
      id="examen_menu_plannification"
      name="Planification d'examen"
      sequence="39"
      groups="siantou_ems_examen.group_examen_base"
      parent="root_menu_examen"
    />

    <menuitem
      id="examen_menu_note"
      name="Notes"
      sequence="40"
      groups="siantou_ems_examen.group_examen_base"
      parent="root_menu_examen"
    />

    <!-- <menuitem
      id="examen_menu_root_attendees"
      name="Participations"
      sequence="40"
      groups="siantou_ems_examen.group_examen_base"
      parent="root_menu_examen"
    /> -->

    <!-- Configuration examen -->
    <menuitem
      id="examen_configuration_menu"
      groups="siantou_ems_examen.group_examen_base"
      name="Configuration"
      sequence="45"
      parent="root_menu_examen"
    />



  </data>
</odoo>