@font-face {
    font-family: 'centaur';
    src: url('/modules/aft_examen/static/src/fonts/Centaur/CENTAUR.TTF') format('truetype');
}

$o-theme-font-configs: map-merge($o-theme-font-configs, (
    'centaur': (
        'family': ('centaur'),
    ),
));
