/** @odoo-module */

.o_portal_my_details + .btn-link {
	display: none !important;
}

.o_my_contact {
	display: none !important;
}

#portal_common_category {
	display: none !important;
}

.o_portal_wrap .o_portal_my_doc_table td, .o_portal_wrap .o_portal_my_doc_table th {
    vertical-align: top !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.o_portal_wrap .o_portal_my_doc_table td {
    max-width: none !important;
}
